@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Iconify basic css */
[iconify] {
	background-color: currentColor;
	-webkit-mask-size: cover;
	mask-size: cover;
	min-width: 1rem;
	min-height: 1rem;
}

